@page "/add-clase"

<PageTitle>Add Clase</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save Clase</RadzenAlert>
        <RadzenTemplateForm TItem="PlanificacionAulas.Models.AulasYHorarios.Clase" Data="@clase" Visible="@(clase != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Inicio" Component="Inicio" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenRequiredValidator Component="Inicio" Text="Inicio is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Fin" Component="Fin" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenRequiredValidator Component="Fin" Text="Fin is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Espacio" Component="Espacio" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@espaciosForEspacioId" TextProperty="Nombre" ValueProperty="EspacioId"
                        Disabled=@(hasEspacioIdValue) Placeholder="Choose Espacio" style="display: block; width: 100%" @bind-Value="@clase.EspacioId" Name="EspacioId"
                           />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Tbl Materia" Component="TblMateria" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@tblMateriaForMateriatblMateriaId" TextProperty="CodMateria" ValueProperty="tblMateriaId"
                        Disabled=@(hasMateriatblMateriaIdValue) Placeholder="Choose TblMateria" style="display: block; width: 100%" @bind-Value="@clase.MateriatblMateriaId" Name="MateriatblMateriaId"
                           />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

