@page "/add-tbl-matytallere"

<PageTitle>Add TblMatytallere</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save TblMatytallere</RadzenAlert>
        <RadzenTemplateForm TItem="PlanificacionAulas.Models.AulasYHorarios.TblMatytallere" Data="@tblMatytallere" Visible="@(tblMatytallere != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Cod Taller" Component="CodTaller" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@tblMatytallere.CodTaller" Name="CodTaller" />
                    <RadzenRequiredValidator Component="CodTaller" Text="CodTaller is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Cod Materia" Component="CodMateria" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@tblMatytallere.CodMateria" Name="CodMateria" />
                    <RadzenRequiredValidator Component="CodMateria" Text="CodMateria is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Cod Carrera" Component="CodCarrera" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@tblMatytallere.CodCarrera" Name="CodCarrera" />
                    <RadzenRequiredValidator Component="CodCarrera" Text="CodCarrera is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Plan" Component="Plan" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@tblMatytallere.Plan" Name="Plan" />
                    <RadzenRequiredValidator Component="Plan" Text="Plan is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Nomb Materia" Component="NombMateria" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@tblMatytallere.NombMateria" Name="NombMateria" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Cant Alumnos" Component="CantAlumnos" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@tblMatytallere.CantAlumnos" Name="CantAlumnos" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Legajo Profa Cargo" Component="LegajoProfaCargo" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@tblMatytallere.LegajoProfaCargo" Name="LegajoProfaCargo" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Cargos Profeso" Component="CargosProfeso" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@tblMatytallere.CargosProfeso" Name="CargosProfeso" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Resolución" Component="Resolución" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@tblMatytallere.Resolución" Name="Resolución" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Año" Component="Año" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@tblMatytallere.Año" Name="Año" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Id Area" Component="IdArea" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@tblMatytallere.IdArea" Name="IdArea" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Nombre1" Component="Nombre1" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@tblMatytallere.Nombre1" Name="Nombre1" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Tbl Materia" Component="TblMateria" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@tblMateriaFortblMateriaId" TextProperty="CodMateria" ValueProperty="tblMateriaId"
                        Disabled=@(hastblMateriaIdValue) Placeholder="Choose TblMateria" style="display: block; width: 100%" @bind-Value="@tblMatytallere.tblMateriaId" Name="tblMateriaId"
                           />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

